---
const { platform, username } = Astro.props;
---
<a class="capitalize bg-white flex items-center p-3 border-dashed border rounded-md" href={`https://www.${platform}.com/${username}`}>{platform}</a>

